<ion-grid fixed>
  <ion-row *ngFor="let mtx of arrayBinaryMtx; let idx = index">
    <ion-col>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-text color="tertiary">
              <h3>Expert #{{ idx + 1 }}. binary relation matrix</h3>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="my-custom-table ion-text-center">
          <ion-col
            *ngFor="let item of mtx.ExpertRankingsValSortRanks"
            class="ion-padding-top ion-padding-bottom"
          >
            <ion-text color="danger">
              <b>{{ item.name }}</b>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="hr"></div>
          </ion-col>
        </ion-row>

        <ion-row class="my-custom-table ion-text-center">
          <ion-col class="ion-padding-top ion-padding-bottom"></ion-col>
          <ion-col
            *ngFor="let item of mtx.ExpertRankingsVal; let numIdx = index"
            class="ion-padding-top ion-padding-bottom"
          >
            <b>{{ numIdx + 1 | numMarkToStr }}</b>
          </ion-col>
        </ion-row>

        <ion-row
          class="my-custom-table ion-text-center"
          *ngFor="let rowBin of mtx.MatrixBinary; let numIdx = index"
        >
          <ion-col class="ion-padding-top ion-padding-bottom">
            <b>{{ numIdx + 1 | numMarkToStr }}</b>
          </ion-col>
          <ion-col
            *ngFor="let item of rowBin.value"
            class="ion-padding-top ion-padding-bottom"
          >
            <ion-text color="tertiary">
              <b>{{ item }}</b>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="hr"></div>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="secondary">
        <h1>###################</h1>
        <h1>###################</h1>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="danger">
        <h1>Matrix pairwise distances</h1>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row class="my-custom-table ion-text-center">
    <ion-col class="ion-padding-top ion-padding-bottom"></ion-col>
    <ion-col
      *ngFor="let item of pairwiseDistanceMatrix; let idx = index"
      class="ion-padding-top ion-padding-bottom"
    >
      <b>{{ "E" + (idx + 1) }}</b>
    </ion-col>
  </ion-row>

  <ion-row
    class="my-custom-table ion-text-center"
    *ngFor="let row of pairwiseDistanceMatrix; let idx = index"
  >
    <ion-col class="ion-padding-top ion-padding-bottom">
      <b>{{ "E" + (idx + 1) }}</b>
    </ion-col>
    <ion-col
      *ngFor="let item of row.value"
      class="ion-padding-top ion-padding-bottom"
    >
      <ion-text color="tertiary">
        <b>{{ item }}</b>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="danger">
        <h1>Calculation of sums of distances across rows</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row
    class="my-custom-table ion-text-center"
    *ngFor="let item of arrSum; let idx = index"
  >
    <ion-col class="ion-padding-top ion-padding-bottom">
      <b>{{ "E" + (idx + 1) }}</b>
    </ion-col>
    <ion-col class="ion-padding-top ion-padding-bottom">
      <ion-text color="tertiary">
        <b>{{ item }}</b>
      </ion-text>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col>{{ getMin(arrSum) | json }}</ion-col>
    <ion-col>{{ arrSum | json }}</ion-col>
    <ion-col>{{ getExpRanks(arrayBinaryMtx[0]) }}</ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">Answer</ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row
    class="my-custom-table ion-text-center"
    *ngFor="let item of answerDistanse"
  >
    <ion-col class="ion-padding-top ion-padding-bottom">
      <ion-text color="tertiary">
        <h6>{{ item.answer }}</h6>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="danger">
        <h1>Preference vectors for experts</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid fixed>
        <ion-row class="my-custom-table ion-text-center">
          <ion-col class="ion-padding-top ion-padding-bottom"></ion-col>
          <ion-col
            *ngFor="let item of preferenceVectors[0].value; let idx = index"
            style="background-color: bisque"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ "a" + (idx + 1) }}</span>
          </ion-col>
        </ion-row>

        <ion-row
          *ngFor="let row of preferenceVectors; let idx = index"
          class="my-custom-table ion-text-center"
        >
          <ion-col
            style="background-color: aqua"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>E{{ idx + 1 }}</span>
          </ion-col>

          <ion-col
            *ngFor="let val of row.value"
            [ngClass]="{ 'my-custom-bg-color': idx % 2 === 0 }"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ val }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="danger">
        <h1>Loss matrix</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-grid fixed>
        <ion-row class="my-custom-table ion-text-center">
          <ion-col class="ion-padding-top ion-padding-bottom"></ion-col>
          <ion-col
            *ngFor="let item of lossMtx[0].value; let idx = index"
            style="background-color: bisque"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ (idx + 1) }}</span>
          </ion-col>
        </ion-row>

        <ion-row
          *ngFor="let row of lossMtx; let idx = index"
          class="my-custom-table ion-text-center"
        >
          <ion-col
            style="background-color: aqua"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>a{{ idx + 1 }}</span>
          </ion-col>

          <ion-col
            *ngFor="let val of row.value"
            [ngClass]="{ 'my-custom-bg-color': idx % 2 === 0 }"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ val }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text color="danger">
        <h1>Assignment problem</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-grid fixed>
        <ion-row class="my-custom-table ion-text-center">
          <ion-col class="ion-padding-top ion-padding-bottom"></ion-col>
          <ion-col
            *ngFor="let item of assignmentMtx1[0].value; let idx = index"
            style="background-color: bisque"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ (idx + 1) }}</span>
          </ion-col>
        </ion-row>

        <ion-row
          *ngFor="let row of assignmentMtx1; let idx = index"
          class="my-custom-table ion-text-center"
        >
          <ion-col
            style="background-color: aqua"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>a{{ idx + 1 }}</span>
          </ion-col>

          <ion-col
            *ngFor="let val of row.value"
            [ngClass]="{ 'my-custom-bg-color': idx % 2 === 0 }"
            class="ion-padding-top ion-padding-bottom"
          >
            <span>{{ val }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="hr"></div>
    </ion-col>
  </ion-row>




</ion-grid>
