<ion-grid fixed>
  <ion-row class="my-custom-table ion-text-center">
    <ion-col></ion-col>
    <ion-col
      *ngFor="let item of rowSum.value; let idx = index"
      class="ion-padding-top ion-padding-bottom"
    >
      <ion-text color="medium"><b>{{ 'a' + (idx + 1) }}</b></ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="my-custom-table ion-text-center">
    <ion-col>
      <ion-text color="danger">
        Sum of ranks
      </ion-text>
    </ion-col>
    <ion-col
      *ngFor="let item of rowSum.value"
      class="ion-padding-top ion-padding-bottom"
    >
      <ion-text color="primary">{{ item }}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="my-custom-table ion-text-center">
    <ion-col>
      <ion-text color="danger">
        Mean
      </ion-text>
    </ion-col>
    <ion-col
      *ngFor="let item of rowMean.value"
      class="ion-padding-top ion-padding-bottom"
    >
      <ion-text color="primary">{{ item }}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="my-custom-table ion-text-center">
    <ion-col>
      <ion-text color="danger">
        Result ranks
      </ion-text>
    </ion-col>
    <ion-col
      *ngFor="let item of rowResult.value"
      class="ion-padding-top ion-padding-bottom"
    >
      <ion-text color="primary">{{ item | number: '.1-2'}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <ion-text color="danger">
        Answer
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="my-custom-table">
    <ion-col size="12">
      <div *ngFor="let item of resString">
        [{{ item.name }}: {{ item.rank }}]
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
